.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding:16px;
}
@media(min-width: 768px) {
    .grid-container{
        grid-templates-columns: repeat(2,1fr);
    }
}
@media (min-width:1024px) {
    .grid-container{
    .grid-container{
        grid-templates-columns:repeat(3,1fr);
    }
    }
}
.grid-items{
    background-color:#f0f0f0;
    border: 1px solid #ccc;
    padding: 24px;
    text-align: center;
    border-radius:8px;
}