p{color:brown;}
font-style::-webkit-validation-bubble-arrow-clipper
.btn{ background:white;}
img{
    border-style:groove;
    border-color:bisque;
}
body{
    background-image:url("explosure.jpg");

}
